---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <img src="assets/profile.jpg" align="middle" style="margin-bottom: 1cm">
      </div>
      <div class="col-md-6">
        <span>
          Hello, I'm Joe.
          <br>
          Senior Information Analyst with NHS Scotland
        </span>
      </div>
    </div>
  </div>

<!--   <div style="margin-bottom: 1cm">
    <div>
      Hello, I'm Joe.
    </div>
    <div>
      Senior Information Analyst with NHS Scotland
      <span class="align-top">top</span>
    </div>
  </div> -->

  
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>